@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  color: #012425;
}
img {
  width: 100%;
}
/* header */
header {
  min-height: 85vh;
}
header hr {
  width: 100%;
  left: 0;
}
.icon {
  width: 25px;
}
.nav-brand {
  width: 40%;
  vertical-align: middle;
}
.nav-links span {
  display: inline-block;
  margin: 0.25em 0.75em;
}
div.spacer {
  margin: 4em;
}
.header-details div h3 {
  text-transform: uppercase;
}
.center-img img {
  max-width: 400px;
  aspect-ratio: 3/4;
  border-radius: 200px;
  object-fit: cover;
  border: 20px solid grey;
  border-style: inset;
}
.center-img .name {
  font-family: Cinzel, serif;
  font-size: 5em;
  text-align: center;
  bottom: 1em;
  color: #fff;
}
.know .icon {
  width: 70px;
  aspect-ratio: 1;
}
.know .d-flex .icon {
  width: 35px;
  height: 35px;
}
.project {
  margin-bottom: 2em;
  position: relative;
}
#work .row .col-4:nth-child(2) {
  align-self: center;
}
.project img {
  aspect-ratio: 4/3;
  object-fit: cover;
}
.project .pr-name {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.project:hover .pr-name {
  opacity: 1;
}
footer div.h4 a {
  box-shadow: 0px 3px 3px 3px rgba(128, 128, 128, 0.4);
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  width: 40px;
  height: 36px;
  text-align: center;
}
footer div a i {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
footer div a:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 3px 3px rgba(128, 128, 128, 0.5);
}
footer div a:active {
  box-shadow: none;
  transform: translateY(3px);
}
