header hr {
  width: 100%;
  left: 0;
}
div.contact span a img.icon {
  width: 16px;
  aspect-ratio: 1;
}
.nav-brand {
  width: 40%;
  vertical-align: middle;
}
.nav-links span {
  display: inline-block;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
  transition: all 0.3s;
}
.nav-links span:hover {
  border-bottom: 2px solid var(--bs-info);
  border-radius: 5px;
}
.header-details div h3 {
  text-transform: uppercase;
}
.center-img img {
  max-width: 400px;
  aspect-ratio: 3/4;
  border-radius: 200px;
  object-fit: cover;
}
.img-border{
  border: 3px solid grey;
  border-style: inset;
}