.project1 .card {
  height: 350px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  border: 1px solid var(--border-color);
}

.project1 .card:hover {
  .card-img-overlay {
    transform: translateY(0%);
  }
}

.project1 .card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.85);
  transform: translateY(120%);
  transition: transform 2s cubic-bezier(0.3, 0.7, 0.07, 1);
}
.project1 .card .card-img-overlay .card-body {
  flex-grow: 0;
}
.project1 .card .card-header h3 {
  font-size: 22px;
}
